<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    <link rel="stylesheet" href="./login.css">
</head>
<body>
    <div class="content" >
    <form action="/dashboard.html" method="post" style="background-color: rgb(251, 251, 251)">
        <div class="box" >
          <div style="width: 30%; margin-right: 42%;" class="form_box">
            <label for="cmsid">CMS ID</label>
          <select name="cmsid" id="CMS" style=" padding: 1%; margin: 8px 0; width: 100%;">
            <option value="1">CMS ID</option>
          </select>
          </div>

          <div style="width: 20%; margin-right: 0%;"class="form_box">
          <label for="hq"><b>HQ-Code</b></label>
          <input type="text" placeholder="HQ" name="hq" required disabled> 
          </div>
      
          <div style="width: 100%;"class="form_box">
            <label for="LCname"><b>Name</b></label>
          <input type="text" placeholder="Enter Name" name="LCname" disabled required>
          </div>

          <div style="width:20%; margin-right: 3%;"class="form_box">
            <label for="DutyMode"><b>DutyMode</b></label>
          <select name="Mode" id="mode" style=" padding: 1%; margin: 8px 0; width: 100%;">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
          </select>
          </div>
       
          <div style="width:30%; margin-right: 3%;"class="form_box">
            <label for="OrderTime"><b>Ordering Time</b></label>
          <input type="time" placeholder="Enter OrderTime" name="OrderTime" required style=" width: 100%;">
          </div>

          <div style="width:30%; margin-right: 1%;"class="form_box">
            <label for="SignOn"><b>SignOn Time</b></label>
          <input type="time" placeholder="Enter SignOnTime" name="SignOn" style=" width: 100%;">
          </div>

          <div style="width:28%; margin-right: 1%;"class="form_box">
            <label for="TrainArrival"><b>Arrival Time</b></label>
          <input type="time" placeholder="Enter Arrival Time" name="TrainArrival" style=" width: 100%;" >
          </div>

          <div style="width:35%; margin-right: 1%;"class="form_box">
            <label for="TrainDep"><b>Departure Time</b></label>
          <input type="time" placeholder="Enter DepartureTime" name="TrainDep" style=" width: 100%;">
          </div>

          <div style="width:20%; margin-right: 3%;"class="form_box">
            <label for="Duration"><b>Duration</b></label>
          <input type="number" placeholder="Duration" name="Duration" style=" width: 100%;" >
          </div>
        </div>
          <button type="submit">Add</button>
      </form>
    </div>
</body>
</html>