@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Inter:wght@100;200;400;500;700;900&display=swap');

body 
{
    font-family: 'Inter', sans-serif;
    letter-spacing:1px;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #d9faff;
}
.content
{
    display: grid; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    padding: 1%;
    position: sticky;
    z-index: 1;
}
.content_table{
    width: 100%;
    text-align: center;
}
.content_td
{
    padding: 1% 1% 1% 1%;
}
.nav_but{
   text-align: center;
    border-style: solid;
    border-radius: 20px;
    border-color: #085676;
    background-color: transparent;
    color:#085676;
    padding: 10% 15% 10% 15%;
    cursor: pointer;
    letter-spacing: 2px;
    border-width: 1px;
  }

.contain{
    display: grid; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position:sticky;
    background-color: white;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

.contain_table{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    padding :2% 0% 2% 0%;
}

.contain_td
{
    background-color: #085676;
    padding-top: 1%;
    padding-bottom: 1% ;
    width: fit-content;
    color: white;
    text-align: center;
}
.data_but
{
    text-align: center;
    background-color: transparent;
    color:#085676;
    padding: 10% 15% 10% 15%;
    cursor: pointer;
    letter-spacing: 2px;
    border-width: 0px;
}