<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operator-Update</title>
    <link rel="stylesheet" href="/irDashboardSystem/main/static/css/login.css">
</head>
<body>
    <div class="content">
    <form action="/dashboard.html" method="post">
          <label for="OPname"><b>NAME</b></label><br/>
          <input type="text" placeholder="Enter Name" name="OPname" required>
          <br/><br/>
          <label for="psw"><b>PASSWORD</b></label><br/>
          <input type="password" placeholder="Enter Password" name="psw" required>
          <br/><br/>
          <button type="submit">LOGIN</button>
      </form>
    </div>
</body>
</html>